@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

/*--------------------------------------------Generic styling*/

.border1 {
    border-style: solid;
    border-color: white;
    border-width: .2vw;
}

.borderradius {
    border-radius: 10px;
}

/*-------Border raduis left------*/
.brl {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*-------Border raduis right top------*/
.brrt {
    border-top-right-radius: 10px;
}

/*-------Border raduis right bottom------*/
.brrb {
    border-bottom-right-radius: 10px;
}



.black {
    background-color: black;
}

@font-face {
    font-family: 'all-blacks';
    src: url(../fonts/nougat-extrablack-webfont.woff);
    font-style: normal;
    font-size: 12px;
}

.abtext {
    font-family: 'all-blacks';
    color: white;
    text-align: center;
}

.abtextplain {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html body {
    height: 100%;
}


/*--------------------------------------------Header*/

.title-main {
    margin-top: 1vw;
    margin-left: 1px!important;
    margin-right: 1px!important;
}

.logo-img {
    background: url("../images/ablogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-right: none;
    }

.title {
    display: block;
    max-height: 15vw;
    border-bottom: none;
}


.title h1 {
    display: inline;
    font-size: 6vw;
    width: 100%;
}

.menuitem {
    padding: 0!important;
    font-size: 2.2vw;
    display: inline;
}

#myTeamButton {
    display: none;
}

#backButton {
    display: none;
}

.menu-nav {
    min-height: 5vw;
}

.menuitem a {
    width: 100%;
}

.menuitem span {
    width: 100%;
    display: block;
    padding-top: 4%;
}

.border-off {
    border-right: none;
}



/*--------------------------------------------Body*/



.players {
    text-align: center;
    display: inline-block;
    padding-left: 15px;
}

.players h3 {
    padding-top: 1vw;
}

.body-main {
    margin-top: 1vw;
}

.body-main h3 {
    font-size: 3.5vw;
}





/*--------------------------------------------Data*/

#player_data {
    background-color: black;
}

.player-data {
    border-style: solid;
    border-color: white;
    border-width: .2vw;
    font-size: 1.3vw;
    color: white;
    width: 19vw;
    display: inline-block;
    border-radius: 10px;
    margin-top: 1.2vw;
    padding-top: .8vw;
    margin: .5vw;
    position: relative;

}


.player-select {
    background-color: white;
    color: black;
    display: inline-block;
    position: relative;
    margin-right: 1.5vw;
}

.player-select:hover {
    color: blue;
    cursor: pointer;
    text-decoration-line: underline;
}

.viewProfile {
    background-color: white;
    color: black;
    margin-bottom: 1.5vw;
    margin-top: 1vw;
}

.viewProfile:hover {
    color: blue;
    text-decoration-line: underline;
}







/*--------------------------------------------Modals*/

.modal-dialog {
    background-color: white;
    color: black;
    font-family: 'all-blacks';
}

.openModalbtn {
    background-color: black;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

/*--------------------------------------------My Team*/

.deletePlayer {
    display: inline-block;
    cursor: pointer;
    height: 1.3vw;
    float: right;
}

#mySix {
    display: inline-block;
    font-size: 2.5vw;
    font-weight: 100!important;
    color: white;
    padding-left: 1vw;
    width: 100%;
    
}

.your-team h3 {
    padding-top: 1.3vw;
}

.your-team {
    padding-left: .5vw!important;
    padding-right: .5vw!important;
}

.selectedPlayer {
    position: relative;
    list-style-type: decimal;
    list-style-position: inside;
    display: list-item;
}

.selected {
    padding-left: 15px;
    padding-right: 15px;
}

.playerProfileInner {
    text-align: left;
    margin-left: .7vw;
    margin-right: 1vw;
    font-size: 2vw;
    padding-bottom: 1vw;
}

.playerProfileInner p {
    margin-bottom: .3vw;
    padding-left: 1vw;
}

.playerProfileInner h4 {
    font-size: 2.5vw;
}


/*--------------------------------------------Footer*/

.social-but {
    font-size: 3vw;
    color: white;
    margin-left: 25%;
    display: inline-block;
}

#footer {
    float: right;
    width: 75%;
    margin-top: .8vw;
    margin-right: 1vw!important;
    padding-left: 2vw!important;
}



.thanks {
    font-size: 1.5vw;
    color: white;
    padding-left: .8vw;
    padding-right: .8vw;
    padding-bottom: 1vw!important;
    padding-top: 1vw!important;
    font-weight: 600;
    text-align: center;
    height: auto;
    margin-top: 1vw;
}



/*--------------------------------------------Player Profile*/

.playerProfile {
    text-align: center;
    width: 100%
}

.playerProfile h3 {
    font-size: 2.8vw;
    padding-top: 1.3vw;
}

.playerProfile h4 {
    padding-top: 1.3vw;
}

/*--------------------------------------------My Team Hidden*/

#myTeam {
    display: none;
}

#myTeam h2 {
    font-size: 5vw;
    padding-top: 1.3vw;
}

.myTeamCol {
    margin-bottom: 1vw;

}

.myTeamNames {
    margin-bottom: 1vw;
    font-size: 2vw;
}

.myTeamNames h3 {
    padding-top: 2vw;
}

.myTeamCol h3 {
    padding-top: 2vw;
}

.myTeamNames li {
    padding-bottom: 1.5vw;
}


.myTeamStats p {
    margin-bottom: .3vw;
    padding-left: 1vw;
}

.myTeamStats {
    column-count: 2;
    column-gap: 1vw;
    padding-top: 1vw;
    font-size: 1.6vw;
}


.myTeamStats h4 {
    text-align: left;
    font-size: 2.3vw;
}

#combinedNames {
    padding-left: 3vw;
}



/*--------------------------------------------Media Queries*/

@media(max-width: 576px) {
    #footer {
        width: 100%;
        padding-left: 3vw!important;
        padding-right: 3vw!important;
    }

    #player_data {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .thanks p {
       font-size: 2vw;
           padding-bottom: 1vw!important;
    padding-top: 1vw!important; 
        height: auto;
                margin-bottom: 0!important;

    }

    .selectedPayer {
        display: inline;
        word-break: break-all;
    }

    .playerProfile {
        width: 75%;
    }

    .players {
        margin-top: 1vw;
        padding-right: 0!important;
        padding-left: 0!important;
    }

    .player-data {
        width: 27vw;
        font-size: 1.9vw;
    }
    
    .viewProfile {
        margin-top: 1.5vw;
    }

    .playerProfileInner {
        padding-right: 0!important;
        column-count: 2;
        column-gap: .3vw;
        
    }

    .playerProfileInner p {
        max-width: 85%;
        padding-left: 2.5vw;
    }

    .playerProfileInner h4 {
        text-align: left;
        padding-left: 2.5vw;
        
    }
    .playerProfileInner h4:first-child  {
        padding-top: 0!important;
    }

    #combinedNames {
        column-count: 2;
        column-gap: 3vw;
        text-align: left;
    }

    .social-but {
    font-size: 4vw;
    color: white;
    margin-left: 25%;
    display: inline-block;
    }

    #playerProfileName {
        font-size: 4vw;
    }

    .myTeamStats h4 {
    font-size: 3vw;
}

.myTeamNames {
    margin-bottom: 1vw;
    font-size: 2.5vw;
}

.myTeamStats {
    font-size: 2.5vw;
}

}







