@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

/*--------------------------------------------Generic styling*/

.border1 {
    border-style: solid;
    border-color: white;
    border-width: .2vw;
}

.borderradius {
    border-radius: 10px;
}

/*-------Border raduis left------*/
.brl {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*-------Border raduis right top------*/
.brrt {
    border-top-right-radius: 10px;
}

/*-------Border raduis right bottom------*/
.brrb {
    border-bottom-right-radius: 10px;
}



.black {
    background-color: black;
}

@font-face {
    font-family: 'all-blacks';
    src: url(../fonts/nougat-extrablack-webfont.woff);
    font-style: normal;
    font-size: 12px;
}

.abtext {
    font-family: 'all-blacks';
    color: white;
}

html body {
    height: 100%;
}


/*--------------------------------------------Header*/

.title-main {
    margin-top: 1vw;
    margin-left: 1px!important;
    margin-right: 1px!important;
}

.logo-img {
    background: url("../images/ablogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-right: none;
    }

.title {
    display: block;
    max-height: 15vw;
    border-bottom: none;
}


.title h1 {
    display: inline;
    text-align: center;
    width: 100%;
    font-size: 6vw;
}

.title h2 {
    display: inline;
    text-align: center;
    width: 100%;
    font-size: 4vw;
}

.menuitem {
    padding: 0!important;
    text-align: center;
    font-size: 2vw;
}

.menu-nav {
    max-height: 4vw;
}

.menuitem a {
    width: 100%;
}

.menuitem span {
    width: 100%;
    display: block;
}

.border-off {
    border-right: none;
}



/*--------------------------------------------Body*/


.your-team {
    text-align: center;
}

.players {
    text-align: center;
    display: inline-block;
    padding-left: 15px;
}

.body-main {
    margin-top: 1vw;
}

.body-main h3 {
    font-size: 3.5vw;
}


/*--------------------------------------------Data*/

#player_data {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.player-data {
    border-style: solid;
    border-color: white;
    border-width: .2vw;
    font-size: 1.3vw;
    color: white;
    max-height: 40vh;
    width: 19vw;
    display: inline-block;
    border-radius: 10px;
    margin-top: 1.2vw;
    padding-top: .8vw;
    margin: .5vw;

}

.player-select {
    background-color: white;
    color: black;
    font-weight: 50;
    margin-bottom: .8vw;
}

.items {
    margin-bottom: .8vw;
}





/*--------------------------------------------Modals*/

.modal-dialog {
    background-color: white;
    color: black;
    font-family: 'all-blacks';
}

.openModalbtn {
    background-color: black;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
